<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Common Fragments</title>
</head>
<body>

<!-- Define a fragment called 'header' -->
<div th:fragment="header">
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>

                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="/" aria-label="Back to Home"><img
                            th:href="@{/images/logo.png}" alt=""></a>
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                    </ul>

                </div>

            </div>
        </div>
    </nav>
</div>

<!-- Define another fragment called 'footer' -->
<div th:fragment="footer">
    <p>Copyright &copy; 2021 My Website</p>
</div>

</body>
</html>
