
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.18.0/dist/css/uikit.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <!-- Include the 'header' fragment from fragments.html -->
    <div th:insert="~{fragments :: header}"></div>

    <h2>Welcome to the Login Page</h2>
    <form th:action="@{/login}" method="post">
        <label for="username"></label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password"></label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <!-- Include the 'footer' fragment from fragments.html -->
    <div th:insert="~{fragments :: footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.0/dist/js/uikit-icons.min.js"></script>
</body>
</html>
